.wrapper{
	width: 900px;
	margin: 25px auto;
}

.clear{
	clear: both;
}
.row>div{
	float: left;
	margin-left: 13px;
	margin-bottom: 15px;
	border: 1px solid black;
	width: 250px;
}

.row>div img{
	width: 100%;
	height: 150px;
}