.wrapper{
	width: 900px;
	margin: 25px auto;
}

.clear{
	clear: both;
}
.row {
    position:relative;
}

.row .socialButtons{
	position: absolute;
}
.socialButtons span{
	border: 1px solid #575757; 
	background: #F3F2F0; 
	float: left;
	padding: 5px 24px;
}

.row>div{
	float: left;
	margin-left: 15px;
	margin-bottom: 40px;
	border: 1px solid black;
	width: 256px;
}

.row>div img{
	width: 100%;
	height: 150px;
}

.row>div img:hover{
	opacity: 0.7;
	transition-duration: 0.7s;
}

.row h1 {
    text-align:center;
    padding: 10px; 
}

.dateTime {
    position: absolute;
    top: 0;
    color: white;
    width: 20%;
}

.dateTime span:first-child{
	position: absolute;
	top:0;
	background: #2E9DA8;
	width:50px;
	padding:5px 10px;
}    

.dateTime span:nth-child(2){
	position: absolute;	
	top: 29px;
	background:#3C4B60; 
	width:50px;
	padding:5px 10px;
}
