.wrapper{
	width: 900px;
	margin: 25px auto;
}

.clear{
	clear: both;
}
.row {
    position:relative
}
.row>div{
	float: left;
	margin-left: 13px;
	margin-bottom: 15px;
	border: 1px solid black;
	width: 250px;
}

.row>div img{
	width: 100%;
	height: 150px;
}

.row h1 {
    text-align:center;
}

.dateTime {
    position: absolute;
    top: 0;
    color: white;
}

    .dateTime span:first-child {

        background: blue;
    }

     .dateTime span:nth-child(2) {
        position: absolute;
        left: 0;
        background: black;
    }
